# for run the locally the server use this url http://localhost:3000 for develoment use https://contapp-server.michaelliendo.com
VITE_API_URL=https://contapp-server.michaelliendo.com

VITE_GOOGLE_WEB_CLIENT_ID=236430944478-v1nsr5mai4ertrhfcmbuemofndg8i5j9.apps.googleusercontent.com