# Server
NODE_ENV=development
PORT=3000
SALT_ROUNDS=10
CORS_ORIGIN=http://localhost:3000,http://localhost:3001
JWT_PRIVATE_KEY=contapp

# Database
POSTGRES_HOST=0.0.0.0
POSTGRES_PASSWORD=password
POSTGRES_USER=user
POSTGRES_DB=server-app    

#Stripe
STRIPE_SECRET_KEY=sk_test_1234567890

